# please note that currently the first archive in each RRD defines the consolidation
# function (e.g. AVERAGE) used by OpenHAB, thus only one consolidation function is
# fully supported
#
# default_numeric and default_other are internally defined defnames and are used as
# defaults when no other defname applies

#<defname>.def=[ABSOLUTE|COUNTER|DERIVE|GAUGE],<heartbeat>,[<min>|U],[<max>|U],<step>
#<defname>.archives=[AVERAGE|MIN|MAX|LAST|FIRST|TOTAL],<xff>,<steps>,<rows>
#<defname>.items=<list of items for this defname> 

temp.def=GAUGE,120,0,100,1
temp.archives=AVERAGE,0.5,30,20:AVERAGE,0.5,60,60:AVERAGE,0.5,300,36:AVERAGE,0.5,600,36:AVERAGE,0.5,900,96:AVERAGE,0.5,3600,168:AVERAGE,0.5,4800,504
#temp.items=<list of items for this defname> 